---
import Layout from "../layouts/Layout.astro";
import EarlyAccessIconSVG from "../components/EarlyAccessIconSVG.astro";
import SignUpForm from "../components/SignUpForm.astro";
---

<Layout title="Get Early Access">
  <div class="mx-auto max-w-xl px-4 py-20">
    <EarlyAccessIconSVG className="mx-auto w-36 py-8" />
    <div class="pb-8 text-center">
      <h2 class="scroll-mt-20 pb-1 text-4xl font-bold" id="early-access">
        Sign up for <span class="text-accent">Early Access</span>
      </h2>
      <p class="text-lg">
        We're a passionate startup on a mission to revolutionize how hybrid
        teams communicate.
      </p>
    </div>
    <div class="prose">
      <ul>
        <li>
          <strong>Exclusive Access</strong>: Be among the first to experience
          new features.
        </li>
        <li>
          <strong>Direct Collaboration</strong>: Work closely with our team to
          refine the app.
        </li>
      </ul>
    </div>

    <SignUpForm />
  </div>
</Layout>
