---
import Layout from "../layouts/Layout.astro";
import PricingHero from "../components/PricingHero.astro";
import PricingPlans from "../components/PricingPlans.astro";
import EarlyAccessSignUp from "../components/EarlyAccessSignUp.astro";
---

<Layout title="Pricing">
  <h1 class="sr-only">Pricing</h1>
  <PricingHero />
  <PricingPlans />
  <EarlyAccessSignUp />
</Layout>
