---

---

<div class="alternating-grid">
  <slot />
</div>

<style is:global>
  .alternating-grid {
    display: grid;
    gap: 1rem;
  }

  @screen lg {
    .alternating-grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: dense; /* Fills in gaps in the grid */
    }

    /**
     * Grid Item Positioning
     *
     * This layout creates an alternating pattern of text and images,
     * while keeping consistent source order:
     *
     * Mobile Layout:
     * -------------
     * | text      |
     * | image     |
     * | text      |
     * | image     |
     * | ...       |
     *
     * Desktop Layout:
     * -----------------------------
     * | text  | image    | image   |
     * | image | image    | text    |
     * | ...                        |
     *
     * The following rules position items within the grid:
     */

    /* Note: The 1st item in each set of 4 uses default positioning */
    .alternating-grid > div:nth-child(4n + 2) {
      grid-column: span 2;
    }
    .alternating-grid > div:nth-child(4n + 3) {
      grid-column: 3;
    }
    .alternating-grid > div:nth-child(4n + 4) {
      grid-column: 1 / span 2;
    }
  }
</style>
