---

---

<div class="mx-auto max-w-screen-2xl px-12 pt-28">
  <h2 class="pb-12 text-3xl font-bold">
    Own Your <span class="text-accent">Burden</span>
  </h2>

  <p>
    Communicating effectively requires work. You need to organize your thoughts,
    synthesize your arguments, and weave it together into a concise story. The
    burden of that work belongs to the speaker or writer. Unfortunately,
    synchronous communication invites you to dump some of that burden on the
    listener or reader. For this reason, synchronous communication feels faster
    and easier while it is actually very ineffective and a drain on the team as
    a whole.
  </p>
  <p class="pt-6">
    While asynchronous communication is conducive to owning your burden, you
    should make sure you don't load it onto others irrespective of the
    communication style. This means
  </p>
  <ul class="list-disc">
    <li>
      Do not dump your unorganized thoughts on others with the implicit
      expectation for them to organize and summarize them.
    </li>
    <li>
      Condense your thoughts into arguments and flesh them out before sharing
      them.
    </li>
    <li>
      Be clear about the purpose of the conversation. Is it an issue that needs
      to be resolved? Is it a fleshed out proposal that needs to be discussed?
      Is it just an idea to gather some feedback? Stating the purpose of a
      conversation establishes context for all participants.
    </li>
  </ul>
  <p class="pt-6">
    The burden of communicating effectively can feel heavy, it is however much
    more efficient and a gift to your co-workers. For example, scheduling a one
    hour meeting to dump unorganized thoughts on three co-workers and then
    collaboratively synthesize and analyze them might feel like a good use of
    time. It is however very inefficient and a mental drain on your team.
  </p>
  <ul class="list-disc">
    <li>
      <span class="font-bold">Efficiency:</span> It is much better to take the hour
      to organize your thoughts and write down your argument which your three teammates
      can then read in less than 10 minutes. This saves 2.5 hours and the best part
      is that your argument is documented and can be referenced in further conversations.
    </li>
    <li>
      <span class="font-bold">Motivation:</span> When we receive an unorganized braindump,
      we receiving somebodies burden. It is subtle but we feel it as a mental drain.
      This is because establishing context and organizing somebody else's thoughts
      is difficult but not very satisfying work. It is much more motivating to receive
      well formulated arguments and ideas and immediately engage with them on an
      intellectual level.
    </li>
  </ul>
</div>

<style></style>
