---
interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<div class={`card border bg-slate-50 border-slate-200 ${className}`}>
  <slot name="card-image" />
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <slot />
  </div>
</div>
