---
import Hero from "./Hero.astro";
---

<Hero>
  <div>
    <h2 class="text-3xl font-extrabold [text-wrap:balance] md:text-4xl">
      Effective <span class="text-accent">Communication</span>
    </h2>

    <p class="py-6">
      The choice of communication tools in organizations is endless. However,
      knowledge and training on how effective communication looks like is scarce
      to non-existent. Korero aims to change that.
    </p>
  </div>
</Hero>

<style></style>
