---

---

<div class="graph-paper-bg hero">
  <div
    class="hero-content max-w-2xl flex-col py-24 text-center lg:flex-row-reverse"
  >
    <div>
      <div
        class="bg-gradient-to-r from-slate-200/60 to-slate-200 to-50% bg-clip-text text-3xl font-extrabold [text-wrap:balance] md:text-4xl"
      >
        <span
          class="inline-flex h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] flex-col overflow-hidden md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))]"
        >
          Effective
        </span>
        <span
          class="inline-flex h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] flex-col overflow-hidden text-accent md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))]"
        >
          Communication
        </span>
      </div>

      <p class="py-6">
        The choice of communication tools in organizations is endless. However,
        knowledge and training on how effective communication looks like is
        scarce to non-existent. Korero aims to change that.
      </p>
    </div>
  </div>
</div>

<style></style>
