---
import ProblemHeading from "./ProblemHeading.astro";
import CommunicationEfficiencySVG from "./CommunicationEfficiencySVG.astro";
import HybridSVG from "./HybridSVG.astro";
import ToolsSVG from "./ToolsSVG.astro";
---

<div class="mx-auto max-w-screen-2xl px-12 pt-24">
  <h2 class="sr-only">Why Effective Communication</h2>
  <div
    class="grid justify-center gap-12 md:grid-cols-3 [&>div]:mb-12 [&>div]:max-w-[448px]"
  >
    <div>
      <div class="flex h-48 items-end">
        <CommunicationEfficiencySVG className="mx-auto max-h-full max-w-full" />
      </div>
      <!-- <ProblemHeading>Not all communication is created equal</ProblemHeading>
      <p>People don't know the difference between different tools/methods.</p> -->
      <ProblemHeading>Communication efficiency matters</ProblemHeading>
      <p>
        We rarely think about the efficiency of our communication. Email, chat,
        call; we just use the first that comes to mind. The choice of our tool
        has a large cost associated, both in time, energy, and future
        communication debt.
      </p>
    </div>

    <div>
      <div class="flex h-48 items-end">
        <HybridSVG className="mx-auto max-h-full max-w-full" />
      </div>
      <ProblemHeading>Hybrid work is the new norm</ProblemHeading>
      <p>
        Synchronized communication is sub-optimal in an office environment. With
        remote and hybrid work being the new norm, it is inefficient and
        exhausting. This shift requires a reevaluation of how we interact.
      </p>
    </div>

    <div>
      <div class="flex h-48 items-end">
        <ToolsSVG className="mx-auto max-h-full max-w-full" />
      </div>
      <ProblemHeading>Many tools but no training</ProblemHeading>
      <p>
        For something as impactful as communication, one would assume employees
        receive training. But this is hardly the case. People have no idea what
        the impact is of their choice of communication tool or method. This gap
        in knowledge can lead to inefficiencies.
      </p>
    </div>
  </div>
</div>
<style></style>
