---
import Card from "./Card.astro"
---

<div class="max-w-screen-2xl mx-auto px-4 pt-28">
  <h1 class="text-3xl font-bold pb-12">Korero Features</h1>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    <Card title="Get most out of hybrid workplaces">
      <p>
        Hybrid workplaces are the new norm. However, all tools we use are
        either created for in-person work or mimic processes common for
        in-person work.
      </p>
    </Card>

    <Card title="Enables efficient communication">
      <p>Efficient communication is asynchronous communication.</p>
    </Card>

    <Card title="Improves the quality of meetings">
      <p>
        Organizing meetings and making sure there are actionable follow-ups is
        hard. Korero ...
      </p>
    </Card>

    <Card title="Fosters constructive discussions">
      <p>
        Written communication is inherently less emotional and discussion
        become more issue-driven and constructive.
      </p>
    </Card>

    <Card title="Automatic documentation for decisions">
      <p>
        Any decision that was taken is automatically documented including who
        took it and why it was taken. No longer need old issues be
        re-discussed over and over again.
      </p>
    </Card>

    <Card title="Stay organized">
      <p>
        Conversations are organized by project or team. This helps you find
        past conversations easily. Additionally, you can link related messages
        for more context.
      </p>
    </Card>

    <!-- <Card title="Reference and Context">
        <p>
          Conversations can be referenced to add context. Did you have a meeting
          that spawned a discussion? Reference the meeting from your discussion
          for added context and future documentation.
        </p>
      </Card> -->

    <!-- <Card title="No lock-in -- your data">
        <p>
          Conversations are stored in markdown documents. You can always
          download them and take them with you, wherever you go.
        </p>
      </Card> -->

    <!-- <Card title="Based on latest research">
        <p>
          Korero follows the latest research for optimal communication to
          maximize productivity, achieve good decisions, and foster healthy
          discourse.
        </p>
      </Card> -->
  </div>
</div>
<style></style>
