---
import Card from "./Card.astro";
import Window from "./Window.astro";
import AlternatingGrid from "./AlternatingGrid.astro";
---

<div class="mx-auto max-w-screen-2xl px-12 pt-28">
  <AlternatingGrid>
    <Card title="Actionable discussions">
      <p>
        Have discussions that matter. Organized in the team or project they
        belong to. Visible to all relevant parties. Fostering meritocracy and
        civil interactions. Without wasting time to marginally involved people.
        Linking other messages for context. Documenting the decision process for
        newcomers. In short: actionable discussions.
      </p>
    </Card>
    <Window>Screenshot</Window>

    <Card title="Efficient meetings">
      <p>
        A good meeting is more than just a few people talking to each other in a
        room. For efficient meetings you need to set an agenda, people need to
        prepare, notes and conclusions need to be shared, and follow-up
        discussion need to be captured, organized, and fostered. In short:
        meetings are a synchronous exchange but efficient meetings are wrapped
        in asynchronous communication.
      </p>
    </Card>
    <Window>Screenshot</Window>

    <Card title="Insightful polls">
      <p>
        Polls are a useful tool. They are usually part of a conversation and a
        decision process. However, polls are usually not placed where the
        surrounding conversation takes place. Poll results are usually imported
        into a conversation and not kept up to date if more people take the
        poll. In short: polls should claim their rightful place in any
        discussion.
      </p>
    </Card>
    <Window>Screenshot</Window>

    <Card title="Creative brainstorming">
      <p>
        Naive brainstorming immediately devolves into group-think. There is a
        system to creative brainstorming: individual brainstorming first, then
        share, and finally discuss, expand, and refine. All steps can be done
        asynchronously but the first one must and often isn't. In short: upgrade
        every brainstorming session to a creative brainstorming session.
      </p>
    </Card>
    <Window>Screenshot</Window>
  </AlternatingGrid>
</div>

<style></style>
