---

---

<div class="max-w-screen-lg mx-auto pt-28">
  <h1>Functionality TODO: replace img with app screenshots</h1>
  <div class="grid functionality-grid">
    <div class="card bg-base-100 grid-a">
      <div class="card-body">
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
      </div>
    </div>

    <div class="card bg-base-100 grid-b">
      <div class="card-body">
        <h2 class="card-title">Actionable discussions</h2>
        <p>
          Have discussions that matter. Organized in the team or project they
          belong to. Visible to all relevant parties. Fostering meritocracy and
          civil interactions. Without wasting time to marginally involved
          people. Linking other messages for context. Documenting the decision
          process for newcomers. In short: actionable discussions.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 grid-c">
      <div class="card-body">
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
      </div>
    </div>

    <div class="card bg-base-100 grid-d">
      <div class="card-body">
        <h2 class="card-title">Efficient meetings</h2>
        <p>
          A good meeting is more than just a few people talking to each other in
          a room. For efficient meetings you need to set an agenda, people need
          to prepare, notes and conclusions need to be shared, and follow-up
          discussion need to be captured, organized, and fostered. In short:
          meetings are a synchronous exchange but efficient meetings are wrapped
          in asynchronous communication.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 grid-e">
      <div class="card-body">
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
      </div>
    </div>

    <div class="card bg-base-100 grid-f">
      <div class="card-body">
        <h2 class="card-title">Insightful polls</h2>
        <p>
          Polls are a useful tool. They are usually part of a conversation and a
          decision process. However, polls are usually not placed where the
          surrounding conversation takes place. Poll results are usually
          imported into a conversation and not kept up to date if more people
          take the poll. In short: polls should claim their rightful place in
          any discussion.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 grid-g">
      <div class="card-body">
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
      </div>
    </div>

    <div class="card bg-base-100 grid-h">
      <div class="card-body">
        <h2 class="card-title">Creative brainstorming</h2>
        <p>
          Naive brainstorming immediately devolves into group-think. There is a
          system to creative brainstorming: individual brainstorming first, then
          share, and finally discuss, expand, and refine. All steps can be done
          asynchronously but the first one must and often isn't. In short:
          upgrade every brainstorming session to a creative brainstorming
          session.
        </p>
      </div>
    </div>
  </div>
</div>
<style>
  @media (min-width: 1024px) {
    .functionality-grid {
      grid-template-areas:
        "a a b"
        "d c c"
        "e e f"
        "h g g";
    }
    .grid-a {
      grid-area: a;
    }
    .grid-b {
      grid-area: b;
    }
    .grid-c {
      grid-area: c;
    }
    .grid-d {
      grid-area: d;
    }
    .grid-e {
      grid-area: e;
    }
    .grid-f {
      grid-area: f;
    }
    .grid-g {
      grid-area: g;
    }
    .grid-h {
      grid-area: h;
    }
  }
</style>
