---
import "../styles/graph-paper-bg.css";
---

<div class="graph-paper-bg hero">
  <div
    class="hero-content max-w-2xl flex-col py-24 text-center lg:flex-row-reverse"
  >
    <slot />
  </div>
</div>
