---

---

<div
  class="hero"
>
  <div class="hero-content flex-col lg:flex-row-reverse py-24 max-w-3xl">
    <div>
      <div
        class="font-extrabold text-3xl md:text-4xl [text-wrap:balance] bg-clip-text bg-gradient-to-r from-slate-200/60 to-50% to-slate-200"
      >
        <span
          class="inline-flex flex-col h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))] overflow-hidden"
        >
          <ul
            class="block animate-text-slide-reverse text-left leading-tight [&_li]:block bg-accent text-white px-1"
          >
            <li>Actionable</li>
            <li>Efficient</li>
            <li>Insightful</li>
            <li aria-hidden="true">Actionable</li>
          </ul>
        </span>
        <span
          class="text-accent inline-flex flex-col h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))] overflow-hidden"
        >
          <ul
            class="block animate-text-slide text-left leading-tight [&_li]:block"
          >
            <li>Discussions</li>
            <li>Meetings</li>
            <li>Brainstorms</li>
            <li>Polls</li>
            <li>Ideas</li>
            <li aria-hidden="true">Discussions</li>
          </ul>
        </span>
      </div>

      <p class="py-6">
        Bring the power of asyncronous communication to your workplace. Have
        effective conversations in all work environments: hybrid, in-person, and
        remote.
      </p>
      <button class="btn btn-accent">Get started</button>
    </div>
  </div>
</div>
<style></style>
