---
import Hero from "./Hero.astro";
---

<Hero>
  <div>
    <div class="text-3xl font-extrabold [text-wrap:balance] md:text-4xl">
      Have
      <div
        class="inline-flex h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] flex-col overflow-hidden md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))]"
      >
        <ul
          class="block animate-text-slide-reverse text-right leading-tight motion-reduce:animate-none [&_li]:block"
        >
          <li>Actionable</li>
          <li>Efficient</li>
          <li>Insightful</li>
          <li>Organized</li>
          <li aria-hidden="true">Actionable</li>
        </ul>
      </div>
      <div
        class="inline-flex h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] flex-col overflow-hidden text-accent md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))]"
      >
        <ul
          class="block animate-text-slide text-left leading-tight motion-reduce:animate-none [&_li]:block"
        >
          <li>Discussions</li>
          <li>Meetings</li>
          <li>Brainstorms</li>
          <li>Polls</li>
          <li>Ideas</li>
          <li aria-hidden="true">Discussions</li>
        </ul>
      </div>
      <div class="pt-2">Instead of running in circles</div>
    </div>

    <p class="py-10">
      Bring the power of <span class="font-bold italic text-accent"
        >asynchronous communication</span
      > to your workplace. Have effective conversations in all work environments:
      hybrid, in-person, and remote.
    </p>
    <a
      class="btn btn-accent btn-md md:btn-lg"
      href={import.meta.env.BASE_URL + "early-access/"}>Get early access</a
    >
    <div class="pt-2 text-sm uppercase">
      Get early access and <span class="font-bold">save 60%</span> forever
    </div>
  </div>
</Hero>

<style></style>
