---
import Hero from "./Hero.astro";
---

<Hero>
  <div>
    <div class="text-3xl font-extrabold [text-wrap:balance] md:text-4xl">
      <div
        class="inline-flex h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] flex-col overflow-hidden md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))]"
      >
        <ul
          class="block animate-text-slide-reverse text-right leading-tight motion-reduce:animate-none [&_li]:block"
        >
          <li>Have Actionable</li>
          <li>Have Efficient</li>
          <li>Have Insightful</li>
          <li>Have Organized</li>
          <li aria-hidden="true">Have Actionable</li>
        </ul>
      </div>
      <div
        class="inline-flex h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] flex-col overflow-hidden text-accent md:h-[calc(theme(fontSize.4xl)*theme(lineHeight.tight))]"
      >
        <ul
          class="block animate-text-slide text-left leading-tight motion-reduce:animate-none [&_li]:block"
        >
          <li>Discussions</li>
          <li>Meetings</li>
          <li>Brainstorms</li>
          <li>Polls</li>
          <li>Ideas</li>
          <li aria-hidden="true">Discussions</li>
        </ul>
      </div>
      <div>Instead of running in circles</div>
    </div>

    <p class="py-6">
      Bring the power of <span class="italic">asynchronous communication</span> to
      your workplace. Have effective conversations in all work environments: hybrid,
      in-person, and remote.
    </p>
    <a
      class="btn btn-accent btn-lg"
      href={import.meta.env.BASE_URL + "pricing/"}>Get started</a
    >
  </div>
</Hero>

<style></style>
