---
import UserSVG from "./UserSVG.astro";
---

<ul class="flex [&>li]:mx-2">
  <li>
    <a class="block pt-1" href="https://cloud.bzr.dev">
      <span class="sr-only">Log in or go to the Bazaar dashboard</span>
      <UserSVG width="20px" />
    </a>
  </li>
  <li>
    <a class="btn btn-primary btn-sm" href="https://cloud.bzr.dev/login">
      Sign In
    </a>
  </li>
</ul>
