---
import BusinessPlan from "./BusinessPlan.astro";
---

<div class="mx-auto max-w-5xl px-4 py-16">
  <div class="pb-12 text-center">
    <h2 class="text-3xl font-bold">Pricing Plans</h2>
    <p>Explore flexible pricing that scales with your needs.</p>
    <div class="badge badge-success badge-outline badge-lg mt-6 uppercase">
      Get early access and <span class="font-bold">&nbsp;save 60%&nbsp;</span> forever
    </div>
  </div>
  <div class="grid justify-center gap-12 md:grid-cols-2 [&>div]:max-w-[448px]">
    <div class="card flex-col justify-between border p-4">
      <BusinessPlan />
      <a
        href="/early-access?plan=business"
        id="sign-up-business"
        class="btn btn-accent btn-block"
      >
        Sign up for early access
      </a>
    </div>

    <div class="card flex-col justify-between border p-4">
      <div>
        <div class="rounded bg-slate-100 p-6">
          <h3 class="font-bold">Enterprise</h3>
          <div>
            Talk to us for a comprehensive solution that meets all your
            enterprise needs.
          </div>
        </div>
        <ul class="list-inside list-disc px-4 pb-2 pt-8">
          <li>SAML SSO</li>
          <li>Create teams in organization</li>
          <li>Custom organizational storage</li>
          <li>Custom user storage</li>
          <li>Custom API call quota</li>
          <li>Dedicated account manager & support</li>
        </ul>
        <div class="pb-1 italic">Korero coaching:</div>
        <ul class="list-inside list-disc px-4 pb-4">
          <li>Training in effective communication</li>
        </ul>
      </div>
      <a
        href="/early-access?plan=enterprise"
        id="sign-up-enterprise"
        class="btn btn-outline btn-block"
      >
        Talk to sales
      </a>
    </div>
  </div>

  <div class="py-6 text-center text-sm opacity-70">
    <a href="/early-access?plan=free" id="sign-up-free" class="link"
      >Or, try Korero with your free personal Bazaar account.</a
    >
  </div>
</div>
