---
import Hero from "./Hero.astro";
---

<Hero>
  <div>
    <h2 class="text-3xl font-extrabold [text-wrap:balance] md:text-4xl">
      Korero is a <span class="text-accent">Bazaar</span> app
    </h2>

    <p class="py-6">
      Use Korero with your <a class="text-accent" href="https://bzr.dev/"
        >Bazaar</a
      > account and enjoy all the additional benefits Bazaar offers: <span
        class="italic">privacy, transparency, and data ownership.</span
      >
    </p>
  </div>
</Hero>
