---

---

<div class="max-w-screen-lg mx-auto pt-28">
  <h1 class="text-3xl font-bold pl-8 pb-12">Why Korero? (TODO: pick 3)</h1>
  <div class="grid md:grid-cols-2 lg:grid-cols-3">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title pb-8">Endless unproductive zoom calls?</h2>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <p>
          Tired of endless unproductive zoom calls? Korero improves the quality
          of meetings and more importantly, it allows you to replace meetings
          with actionable discussions.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title pb-8">Messy reply-all email discussions?</h2>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <p>
          Having messy discussions in reply-all email threads? People get added
          or removed from the sender list creating confusion? Discussion gets
          lost in the see of other emails in your inbox? Korero keeps your
          discussions organized.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title pb-8">
          Forgotten conversation in lost Slack tread?
        </h2>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <p>
          Was your last issue lost in some Slack tread when the conversation
          moved on? Is it hard to find the the conversation again for a follow
          up? Are you jumping around your chat history after a late reply comes
          in? With Korero, conversations are organized and where you expect them
          to be.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title pb-8">
          Scattered meeting organization and follow-up?
        </h2>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <p>
          Is organizing and following up on meetings a scattered mess? Are you
          sending out agendas or collaboratively creating them in a common
          document, then sharing meeting notes in an email, and finally having a
          follow-up discussion in a chat room? Korero makes organizing meetings
          and follow-up discussions a breeze.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Does confidence win over competence?</h2>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <p>
          Are discussed problem solutions picked by how charismatic, aggressive,
          or senior the suggesting person is instead of meritocracy? Does the
          Joe, the awkward introverted engineer have the best solutions but
          never speak up in meetings? Asynchronous, written discussions are the
          cure.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">
          Re-visiting old discussions and running in circles?
        </h2>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
          class="max-w-sm rounded-lg shadow-2xl"
        />
        <p>
          Do you find yourself re-discussing old and half forgotten issues? New
          people join the team with ideas that were discussed before but nobody
          remembers why they were dismissed? With Korero, discussions become
          documentation and all decisions have attribution.
        </p>
      </div>
    </div>
  </div>
</div>
<style></style>
