---
import ProblemHeading from "./ProblemHeading.astro";
import VideoCallSVGB from "./VideoCallSVGB.astro";
import EmailSVG from "./EmailSVG.astro";
import ChatSVG from "./ChatSVG.astro";
---

<div class="mx-auto max-w-screen-2xl px-12 pt-24">
  <h1 class="sr-only">Why Korero</h1>
  <div
    class="grid justify-center gap-12 md:grid-cols-3 [&>div]:mb-12 [&>div]:max-w-[448px]"
  >
    <div>
      <div class="flex h-48 items-end">
        <EmailSVG className="mx-auto max-h-full max-w-full" />
      </div>
      <ProblemHeading>Messy reply-all email discussions?</ProblemHeading>
      <p>
        Tired of confusing email threads? People added or removed randomly?
        Important points lost in your crowded inbox? Korero keeps your
        discussions organized and accessible, ensuring no detail gets
        overlooked.
      </p>
    </div>

    <div>
      <div class="flex h-48 items-end">
        <VideoCallSVGB className="mx-auto max-h-full max-w-full" />
      </div>
      <ProblemHeading>Endless unproductive Zoom calls?</ProblemHeading>
      <p>
        Frustrated by time-wasting video meetings? Korero enhances meeting
        quality and efficiency. Better yet, it often replaces meetings entirely
        with focused, actionable discussions, saving you valuable time and
        energy.
      </p>
    </div>

    <div>
      <div class="flex h-48 items-end">
        <ChatSVG className="mx-auto max-h-full max-w-full" />
      </div>
      <ProblemHeading>Conversations lost in Slack treads?</ProblemHeading>
      <p>
        Struggling to find past discussions in Slack? Important issues buried by
        newer messages? Constantly scrolling through chat history? Korero
        organizes your conversations logically, making follow-ups easy and
        keeping discussions right where you need them.
      </p>
    </div>

    <!-- <Card title="Scattered meeting organization and follow-up?">
        <p>
          Is organizing and following up on meetings a scattered mess? Are you
          sending out agendas or collaboratively creating them in a common
          document, then sharing meeting notes in an email, and finally having a
          follow-up discussion in a chat room? Korero makes organizing meetings
          and follow-up discussions a breeze.
        </p>
      </Card -->

    <!-- <Card title="Does confidence win over competence?">
        <p>
          Are discussed problem solutions picked by how charismatic, aggressive,
          or senior the suggesting person is instead of meritocracy? Does the
          Joe, the awkward introverted engineer have the best solutions but
          never speak up in meetings? Asynchronous, written discussions are the
          cure.
        </p>
      </Card> -->

    <!-- <Card title="Re-visiting old discussions and running in circles?">
        <p>
          Do you find yourself re-discussing old and half forgotten issues? New
          people join the team with ideas that were discussed before but nobody
          remembers why they were dismissed? With Korero, discussions become
          documentation and all decisions have attribution.
        </p>
      </Card> -->
  </div>
</div>
<style></style>
